.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-gap: 3px;
}

.header {
    grid-column: 1 / -1;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu {
    grid-column: 1/ -1;
}

.content {
    grid-column: 1/ -1;
    font-size: 0.7em;
}

.footer {
    grid-column: 1 / -1;
}


